{% extends 'base.html' %}

{% block title %}
    Регистрация
{% endblock %}


{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow">
                <div class="card-body p-4">
                    <h2 class="card-title text-center mb-4">Вход в систему</h2>
                    <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
                    </form>
                    <div class="border-top pt-3 text-center">
                        <small class="text-muted">
                            Уже есть аккаунт? <a href="{% url 'login' %}" class="text-decoration-none">Войти</a>
                        </small>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
