<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        {#        <a class="navbar-brand" href="{% url 'index' %}">Новостной сайт</a>#}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главная страница</a>
                </li>
                {% if user.is_authenticated %}
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create_task' %}">Добавить задачу</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'task_favorite' %}">Избранные задачи</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'task_list_complete' %}">Выполненные задачи</a>
                        </li>

                    </ul>
                {% endif %}

            </ul>
            {% if user.is_authenticated %}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% comment %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">Профиль</a>
                        </li>
                    {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link" href="">Добро пожаловать {{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}" class="d-flex align-items-center">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-link">Выйти</button>
                        </form>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        {#                        <a class="nav-link" href="{% url 'register' %}">Регистрация</a>#}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Войти</a>
                    </li>
                </ul>

            {% endif %}


        </div>
    </div>
</nav>